<!-- Footer -->
<footer class="py-5 bg-dark">
  <style>
    #jiao {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
    }
  </style>
  <div class="container">
    <div id="jiao">
      <table style="flex-grow: 2;">
        <tr>
          <td rowspan="4" style="color:white; text-align: left;">
            <h3>联系我们</h3>
          </td>
          <td style="color:white;">公司名称：固安县艾拉信息科技有限公司</td>
        </tr>
        <tr>
          <td style="color:white;">公司地址：河北省廊坊市固安县中央大道西侧<br />东方街南侧科创中心三层317室</td>
        </tr>
        <tr>
          <td style="color:white;">电话：17716588647</td>
        </tr>
        <tr>
          <td style="color:white;">问题及建议反馈邮箱：tech@ailawuyou.com</td>
        </tr>
      </table>
      <style>
        .img1 {

          max-width: 180px;
          max-height: 180px;
          width: auto;
          height: auto;

          margin: 4px;

        }
      </style>
      <div style="text-align:center; display: flex; flex-direction: column;">
        <img class="img1 img-object" src="/image/wangqiang.png" alt="" />
        <span style="color:white">销售经理</span>
      </div>
      <div style="text-align:center; display: flex; flex-direction: column; margin-left: 50px;">
        <img class="img1 img-object" src="/image/wangge.png" alt="" />
        <span style="color:white">销售经理</span>
      </div>
    </div>

  </div>
  <!-- /.container -->
</footer>