<div class="col-md-4 mb-5" style="max-width:44%;flex-grow: 2 !important; ">
  <h2>科研成果</h2>
  <hr />
  <style>
    li {
      margin-top: 10px;
    }
  </style>
  <ul>
    <li>艾拉科技快速测评辅助系统[简称：快测系统]</li>
    <li>等保快测兼容APPSCAN工具XML通讯网关</li>
    <li>等保快测兼容AWVS工具XML通讯网关</li>
    <li>等保快测兼容漏洞扫描Nessus工具通讯网关</li>
    <li>等保快测兼容漏洞扫描绿盟RSAS主机工具通讯网关</li>
    <li>等保快测兼容漏洞扫描绿盟WVSS应用工具通讯网关</li>
    <li>等保快测兼容漏扫依讯扫描工具通讯网关</li>
    <li>等保快测兼容数据库漏扫AppDetective工具CSV通讯网关</li>
    <li>等保快测兼容数据库漏扫安华金和DBSCAN工具XML通讯网关</li>
    <li>基于区块链的任意链API服务系统</li>
  </ul>

  </address>
</div>