---
layout: default
---

<div class="row">
  <div class="col-md-8 mb-5">
    {{ content }}
  </div>
  {% include sidebar.html %}
</div>


<style>
   .buju {
    display: flex;
    flex-direction: row;
     width: 100%;
    flex-wrap: wrap;
  } 
.img2{
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;

}

</style>
  <h2>知识产权</h2>
  <hr/>
  <div class="row">
<div class="buju">
      <div class="" id="bujuzi" style="text-align: center;margin-left: 8px;" >
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
	   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>   <div class="" id="bujuzi" style="text-align: center;">
         <img class="img2 img-object"  src="/image/zhishi/zhishi1.jpg" alt="" />
    </div>
</div>
  </div>